{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{% block title %}Static Top Navbar Example for Bootstrap{% endblock title %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <style>
    body {
        min-height: 2000px;
    }
    
    .navbar-static-top {
        margin-bottom: 19px;
    }
    
    {% block style %}
    
    {% endblock style %}
    </style>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h3>Notifications</h3>
        <div id="notificationLoader">
            
        </div>
        {% if messages %} {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %} {% endif %} {% block content %} {% endblock content %}
        <!-- Main component for a primary marketing message or call to action
        <div class="jumbotron">
            <h1>Navbar example</h1>
            <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
            <p>To see the difference between static and fixed top navbars, just scroll.</p>
            <p>
                <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
            </p>
        </div>
         -->
    </div>
    <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include 'javascript.html' %}
    <script>
    $(document).ready(function() {
        {% block jquery %} {% endblock %}
    })
    </script>
    <script>
    $(document).ready(function(){
        $(".notification-toggle").click(function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'notifications_ajax' %}",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success: function(data) {
                $("#notificationLoader").html("");
                var count = data.count;
                console.log(count);

                $(data.notifications).each(function(){
                    $("#notificationLoader").append(this + "<br>");
                })
                console.log(data.notifications)
            },
            error: function(response, e) {
                console.log(response, e)
            }
        })
    })
    })
    
    </script>
</body>

</html>
