{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
<style>
{% block style %}
h1{
	color: red;
}
{% endblock style %}
</style>

{% block content %}
<h1>Hello. We have {{ number }} embeded videos</h1>

<div>
	{% for video in videos %}
		<div>{{ video.embed_code | safe}}</div>
		<div><a href="{{ video.get_absolute_url }}">{{ video.title }}</a></div>
	{% endfor %}
</div>
<!-- <h1>Mark Safe - Server-side handler</h1>
<div>
	{% for embed in embeds %}
	<div>{{ embed | safe}}</div>
	{% endfor %}
</div>
 -->
 {% endblock content %}