{% extends 'base.html' %} {% block title %}Detail{% endblock title %} 
<script>
{% block jquery %}
	function update_iframe_size(){
		// $("iframe").css("width", "100%");
		// $("iframe").css("height", "450px");

		var parent_class = $("iframe").parent().attr("class");
		var parent_width = $("iframe").parent().width();
		var width = $("iframe").css("width");
		var height = $("iframe").css("height");
		var ratio = parseInt(height)/parseInt(width);
		var new_height = parseInt(parent_width) * ratio

		$("iframe").css("width", parent_width);
		$("iframe").css("height", new_height);

	}
	update_iframe_size()
	$(window).bind("resize", function(){
		// alert("resized")
		update_iframe_size()
	})

{% endblock %}
</script>
{% block content %} 
<div class="col-sm-8">
	{{ obj.embed_code | safe }}
</div>

<div>
    <a href="https://twitter.com/home?status={{ obj.get_share_message | safe}}">
<i class="fa fa-twitter" aria-hidden="true"></i>
</a>
<a href="https://www.facebook.com/sharer/sharer.php?u=http://CodingForEntrepreneurs.com/">
<i class="fa fa-facebook" aria-hidden="true"></i>
</a>

<br>
<hr>
<div class="row">
	<h1>Comments/Questions:</h1>
	<form action="" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Add comment" class="btn btn-default">
	</form>
	<table class="table">
		<tr>
			<th>Text</th>
			<!-- <th>is_child</th>
			<th>get_children</th> -->
		</tr>
		<!-- {% for comment in comments %}
		<tr>
			<td>{{ comment.text }} </td>
			<td>{{ comment.is_child }}</td>
			<td>{{ comment.get_children }}</td>
		</tr>
		{% endfor %} -->
		{% for comment in comments %}
		<tr>
			<td>{{ comment.text }}
			<br><small>via {{ comment.user }} | {{ comment.timestamp | timesince}}</small>
			{% if not comment.is_child %}
			<ul>
				{% for child in comment.get_children %}
				<li>{{ child.text }}<small> via {{ child.user }}</small></li>
				{% endfor %}
			</ul>
			{% endif %}
			</td>

		</tr>
		{% endfor %}
	</table>
		
</div>
</div>
{% endblock content %}
